.generic-content-container{

    p{
        line-height:1.65;
        margin:1.8rem 0;
        text-align: justify;
        text-justify: inter-word;

        @mixin atSmall{
            font-size:1.125rem;
            text-align:left;
        }

    }

    p a{
        font-weight:700;
    }

}